.App {
  background-color: #f5f9fe;
  min-height: 100vh;
}
.App header {
  background-color: #2d70f0;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App h1 {
  margin: 0px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0px;
  text-align: center;
}

.App main {
  padding: 2em;
}
